body {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background: #333;
}
.site-header {
	color: #ffea00;
	font-family: 'Bungee', cursive;
	padding-top: 15px;
	padding-bottom: 25px;
	background: #000;
}
.site-subheader {

	padding-top: 20px;
	padding-bottom: 20px;
	background: #444242;
}
.site-subheader .container {
	max-width: 600px;	color: #ffea00;
}
.site-subheader .form-group {
	margin-bottom: 0;
}
.site-subheader input[type="text"],
.site-subheader button[type="submit"] {
	float: left;
}
.site-subheader input[type="text"] {
	width: 100%;
	padding-right: 20%;
	background-color: #fff;
}
.site-subheader button[type="submit"] {
	color: #fff;
	font-family: 'Bungee', cursive;
	text-transform: uppercase;
	width: 20%;
	margin-left: -20%;
	border-color: #000;
	background: #000;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.game-results {
	color: #fff;
	font-family: 'Bungee', cursive;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #272727;
}
.game-results h3 {
	margin-top: 0;
	margin-bottom: 0;
}
.players-row {
	font-family: 'Bungee', cursive;
	padding-top: 50px;
	padding-bottom: 50px;
}
.player .player-info{
	margin-top: 0;
	margin-bottom: 0;
}
.player-box {
	border: solid 2px transparent;
}
.player-active {
	color: #ffea00;
	border: solid 2px #ffea00;
	background: #272727;
}
.player-choices {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px #666;
	border-top: solid 1px #666;
	min-height: 144px;
}
.player-stats {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
}
.blockquote-message {
	font-size: 16px;
	padding: 5px 10px;
	margin-bottom: 5px;
}
.blockquote-message footer {
	color: #ffea00;
}
.btn-choice {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.sep {
	color: #666;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.tooltip {
	font-size: 16px;
}
.well {
	padding: 20px;
	background-color: #272727;
	border: none;
}
.well blockquote {
	border-color: #000;
	border-color: rgba(0,0,0,.75);
}
.btn-primary {
	background-color: #000;
	border-color: #000;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: #444242;
	border-color: #444242;
}
.btn-primary:active
.btn-primary:active:hover,
.btn-primary:active:focus {
	background-color: #000;
	border-color: #000;
}
.btn-choice:hover img {
	opacity: .50;
}